@import "config";

.batchPageInner {
    .titleBar {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2.5rem;
        }
        .location {
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        overflow: hidden;
    }
    .statusBar {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .status {
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .date {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2rem;
        }
    }
    .qrDisplay {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 15rem;
        flex-direction: column;
        width: 100%;
        .qrcode {
            width: 15rem;
            height: 15rem;
        }
    }
    .details {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        .id {
            font-size: 2rem;
        }
        .from, .to{
            font-size: 1rem;
        }
    }
}
