@import "config";

.homePageInner {
    font-size: 1rem;
    .title {
        width: 100%;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }
    .campaign {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 1.5rem;
        padding-top: 1.5rem;

        border-style: solid none none none;
        border-width: 1px;
        border-color: $grey_;
        .inner {
            width: 100%;
            display: flex;
            .photo {
                border-radius: 50%;
                border-style: solid;
                border-color: $grey_;
                border-width: 1px;
                overflow: hidden;
                width: 8rem;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                }
            }
            .details {
                margin-left: 1rem;
                color: $grey_8;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
            }
        }
        .links {
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a,
            span {
                cursor: pointer;
                text-decoration: none;
                color: $grey;
                font-weight: bold;
                margin-top: 1rem;
                font-size: 0.8rem;
            }
        }
        .batches {
            padding-top: 1rem;
            width: 100%;
            max-height: 0;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            &.selected {
                transition: 0.25s ease-in-out;
                opacity: 1;
                visibility: visible;
                height: auto;
                max-height: 100%;
            }
            .batch {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background: $offwhite;

                border-style: solid none none none;
                border-width: 1px;
                border-color: $grey_;
                a {
                    text-decoration: none;
                    color: $grey;
                    padding: 1rem 0 1rem 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .batchDetails {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon {
                            align-self: flex-start;
                            width: 3rem;
                            font-size: 2rem;
                        }
                        .inner {
                            flex: 1;
                            color: $grey_8;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                        }
                    }
                    .batchLink {
                        color: $grey;
                        width: 100%;
                        font-weight: bold;
                        margin-top: 1rem;
                        padding-left: 1rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px), (max-height: 600px) {
    .homePageInner {
        font-size: 1rem;
        .campaign {
            .inner {
                .photo {
                    border-radius: 50%;
                    border-style: solid;
                    border-color: $grey_;
                    border-width: 1px;
                    overflow: hidden;
                    width: 6rem;
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
