@import 'config';

.loginPageInner {
    .account {
        font-size: 1rem;
    }
    a {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        text-decoration: none;
        background: $grey;
        padding: 5px;
        color: $white;
        border-radius: 1rem;
        &:hover {
            background: $blue2;
        }
    }
}

