@import "config";

.campaignPageInner {
    font-size: 1rem;
    .topBar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .photo {
            border-radius: 50%;
            border-style: solid;
            border-color: $grey_;
            border-width: 1px;
            overflow: hidden;
            width: 8rem;
            position: relative;
            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
            }
        }
        .goal,
        .status {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .data {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            .label {
                margin-top: 0.5rem;
                text-transform: uppercase;
                font-size: 1rem;
            }
        }
    }
    .titleBar {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .title {
            width: 100%;
            font-size: 2rem;
        }
        .description {
            margin-top: 0.5rem;
            width: 100%;
            font-size: 1rem;
        }
        overflow: hidden;
    }
    .actionBar {
        padding-bottom: 1rem;
        border-style: none none solid none;
        border-color: $grey_;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3rem;
        width: 100%;
        .action {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 0.5rem;
            border-style: solid;
            border-width: 1px;
            border-color: $grey_;
            text-transform: uppercase;
            font-weight: bold;
            width: 25%;
            font-size: 1rem;
            background: white;
        }
        .other {
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 1px;
            height: 100%;
            border-radius: 0.5rem;
            border-style: solid;
            border-color: $grey_;
            text-transform: uppercase;
            width: 7%;
            background: white;
        }
    }
    .tabBar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        width: 100%;
        border-style: none none solid none;
        border-color: $grey_;
        background: $white;
        opacity: 1;
        z-index: 1;
        border-width: 1px;
        position: sticky;
        top: 0;

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-transform: uppercase;
            width: 25%;
            font-size: 2.5rem;
            font-weight: bold;
            .tabIcon {
                opacity: 0.5;
            }
            transition: 0.25s;
            &.selected {
                border-style: none none solid none;
                border-width: 6px;
                .tabIcon {
                    opacity: 1;
                }
            }
        }
    }
    .tabData {
        width: 100%;
        position: relative;
        .tabDataInner {
            position: absolute;
            top: 0;
            width: 100%;
            display: none;
            &.selected {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .peopleList {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .person {
                    width: 100%;
                    height: 8rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .details {
                        flex: 1;
                        margin-left: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        .name {
                            font-size: 1.5rem;
                        }
                        .role {
                            font-size: 1rem;
                            opacity: 0.5;
                        }
                    }
                    .photo {
                        border-radius: 50%;
                        border-style: solid;
                        border-color: $grey_;
                        border-width: 1px;
                        overflow: hidden;
                        width: 6rem;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            padding-bottom: 100%;
                        }

                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .campaignDetails {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    margin-top: 1rem;
                    margin-left: 2rem;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    font-weight: bold;
                }
                .pie {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 16rem;
                    margin-bottom: 1rem;
                    .center {
                        position: absolute;
                        width: 30%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .data {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 0.5rem;
                        }
                        .label {
                            margin-top: 0.5rem;
                            text-transform: uppercase;
                            font-size: 1rem;
                        }
                    }
                }
                .pieDetails {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 4rem;
                    width: 100%;
                    div {
                        text-transform: uppercase;
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        border-radius: 0.5rem;
                        align-items: center;
                        width: 28%;
                        height: 2rem;
                        color: $white;
                        &.remain {
                            background: purple;
                        }
                        &.inProgress {
                            background: $blue2;
                        }
                        &.done {
                            background: $red;
                        }
                    }
                }
                .batch {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 10rem;

                    border-style: solid none none none;
                    border-width: 1px;
                    border-color: $grey_;
                    a {
                        font-size: 1rem;
                        text-decoration: none;
                        color: $grey;
                        padding: 1rem;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon {
                            align-self: flex-start;
                            width: 3rem;
                            font-size: 2rem;
                        }
                        .inner {
                            flex: 1;
                            color: $grey_8;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            .details {
                                color: $grey;
                                font-weight: bold;
                                margin-top: 1rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
