.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 5rem);
    font-size: 2rem;
    padding: 2rem;
    overflow-x: hidden;
}

.pageInner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .title {
        width: 100%;
        font-size: 2rem;
    }
}

