@import "config";

.profilePageInner {
    .titleBar {
        .photo {
            border-radius: 50%;
            border-style: solid;
            border-color: $grey_;
            border-width: 1px;
            overflow: hidden;
            width: 8rem;
            position: relative;
            &::after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
            }
        }
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        .title {
            padding-left: 1rem;
            .name {
                text-align: left;
                width: 100%;
                font-size: 2rem;
            }
            .location {
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
        overflow: hidden;
    }
    .display {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1rem;
        .label {
            font-weight: bold;
            color: $grey;
            opacity: 0.5;
        }
    }
    a {
        margin-top: auto;
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
        width: 30%;
        text-align: center;
        text-decoration: none;
        background: $grey;
        color: $white;
        border-radius: 1rem;
        &:hover {
            background: $blue2;
        }
    }
}
