@import 'config';

.qrCodeReader {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: none;
    background: $grey;
    justify-content: center;
    align-items: center;
    &.open {
        z-index: 10;
        display: flex;
    }
    .close {
        z-index: 10;
        font-size: 6vw;
        color: $white;
        position: fixed;
        top: 2vw;
        right: 2vw;
    }
    .qrCodeInner {
        z-index: 10;
        .title {
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 9vw;
            font-weight: bold;
            position: absolute;
            top: 15vw;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
    }
}
