@import 'config';

:root {
    font-size: 3.5vw;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;

}
.app {
    font-family: Consolas, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: $grey;
}

.alert {
    font-size: 3vw;
}
