.statusBar {
    .progress {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .bar {
            display: flex;
            justify-content: center;
            align-items: center;
            .progress-check {
                background: lightgrey;
                width: 3vw;
                height: 6vw;
                border-radius: 50%;
                &.done {
                    background: black;
                }
            }
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 17vw;
                .progress-check {
                    background: lightgrey;
                    width: 3vw;
                    height: 6vw;
                    border-radius: 50%;
                    &.done {
                        background: black;
                    }
                }
                .progress-bar {
                    width: 14vw;
                    height: 1.5vw;
                    background: lightgrey;
                    &.done {
                        background: black;
                    }
                }
            }
        }
        .label {
            width: 75vw;
            display: block;
            font-size: 3vw;
            position: relative;
            .init {
                display: block;
                width: 75vw;
                position: absolute;
                text-align: left;
            }
            .mid {
                display: block;
                width: 75vw;
                position: absolute;
                text-align: center;
            }
            .end {
                display: block;
                width: 78vw;
                position: absolute;
                text-align: right;
            }
        }
    }
}
