@import "config";

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 6vw;
    font-weight: bold;
    background-image: url("../img/landingBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    .title {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 7vw;
        margin-bottom: 5vw;
    }
    .subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        text-transform: uppercase;
    }
}
