@import 'config';

.loginPageInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 9vw;
        font-weight: bold;
    }
    .account {
        font-size: 3vw;
    }
    a {
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 100%;
        text-align: center;
        text-decoration: none;
        background: $grey;
        padding: 5px;
        color: $white;
        border-radius: 5%;
        &:hover {
            background: $blue2;
        }
    }
}

