@import 'config';

.navBar {
    color: black;
    font-size: 4vw;
    .topBar {
        padding-left: 2vw;
        padding-right: 2vw;
        box-shadow: 0 0.5vh 1vh black;
        background: $white;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 5vh;
        width: 96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .iconContainer {
            display: flex;
            align-items: center;
            img {
                margin-right: 2vw;
                height: 6vw;
                width: 6vw;
            }
        }
    }
    .slider {
        background: $grey_;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 5vh;
        left: 0;
        height: 95vh;
        width: 100vw;
        display: flex;
        transition: transform 0.5s;
        transform: translateX(-100%);
        &.open {
            transition: 1s;
            transform: translateX(0%);
        }
        .sliderInner {
            font-size: 5vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 60vw;
            height: 100%;
            background: $white;
            .user {
                padding-top: 0 !important;
                padding-left: 2vw;
                width: 58vw;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 3vw;
                height: 5vh;
                background: $blue2;
                color: $white;
                img {
                    margin-right: 2vw;
                    height: 5vw;
                    width: 5vw;
                }
                .displayName {
                    font-weight: bold;
                }

            }
            a {
                padding-left: 2vw;
                padding-top: 2vw;
                text-decoration: none;
                color: $grey;
                opacity: 1;
                transition: color 0.25s;
                &:hover {
                    color: $blue2;
                }
                &.active {
                    color: $blue2;
                }
            }
        }
    }
}
