@import 'config';

.profilePageInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
        font-weight: bold;
    }
}

