@import 'config';

.profilePageInner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5vh;
    height: 100vh;
    width: 92vw;
    .photo {
        width: 25vw;
        height: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .photoInner {
            border-radius: 50%;
            overflow: hidden;
            width: 20vw;
            height: 20vw;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .titleBar {
        padding: 2vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 15vw;
        flex-direction: column;
        width: 92vw;
        .name {
            text-align: center;
            width: 100%;
            font-size: 8vw;
        }
        .location {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 4vw;
        }
        overflow: hidden;
    }
}

