@import 'config';

.view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .viewInner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 80%;
        select {
            margin-top: 2vh;
            font-size: 4vh;
            font-weight: bold;
            width: 100%;
            option {
                font-size: 1.5vh;
            }
        }
    }
}

.form {
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .label {
        margin-top: 2vh;
        font-size: 2.5vh;
        align-self: flex-start;
    }
    input {
        padding: 0;
        border: 0;
        width: 100%;
        font-size: 2.5vh;
    }
    .react-datepicker-wrapper {
        width: 100%;
        font-size: 2.5vh;
        input {
            width: 100%;
        }
    }
    select {
        width: 100%;
        font-size: 2.5vh;
        option {
            font-size: 1.5vh;
        }
    }
    .helpBlock {
        width: 100%;
        color: red;
        font-size: 1.5vh;
    }
    .successBlock {
        width: 100%;
        color: green;
        font-size: 1.5vh;
    }
    .submitForm {
        margin-top: 2vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            margin-left: 0.5vh;
            margin-right: 0.5vh;
            font-size: 3vh;
            width: 100%;
            text-align: center;
            text-decoration: none;
            background: $grey;
            padding: 5px;
            color: $white;
            border-radius: 5%;
            &:hover {
                background: $blue2;
            }
        }
    }
}

    .display {
        margin-top: 2vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .label {
            font-size: 2.5vh;
            align-self: flex-start;
        }
        .data {
            font-size: 1.5vh;
            font-weight: bold;
            align-self: flex-start;
        }
    }
